/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* prettier-ignore */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

ol,
ul {
  list-style: none;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

body {
  --page-width: clamp(300px, 100%, 1500px);

  /* COLOR VARIABLES */

  // --color-primary: #d74c28;
  // --color-primary: #fdd007;
  --color-primary: #ffc038;
  --color-primary-darken: #dfa323;
  --color-accent-1: #c8651b;
  --color-accent-2: #5b271e;
  --color-accent-3: #380c0f;
  --color-accent-4: #5c646b;

  --color-background: #ffffff;
  --color-background-opacity75: #fffaf0be;
  --color-background-opacity50: #fffaf086;
  --color-background-opacity25: #fffaf048;
  --color-background-opposite: #353535;

  --color-light-1: #f3f3f4;
  --color-light-2: #f4ebd9;
  --color-dark-1: #3a3b37;
  --color-dark-2: #090909;

  --color-text: #423c3a;
  --color-text-opacity75: #423c3ab7;
  --color-text-opacity50: #423c3a83;
  --color-text-opacity25: #423c3a48;

  --color-text-opposite: #f2f5ff;
  --color-text-light: #f2f5ff;
  --color-text-light-opacity75: #f2f5ffb7;
  --color-text-light-opacity50: #f2f5ff86;
  --color-text-light-opacity25: #f2f5ff49;

  --color-grey-light-1: #e9e9e9; // Light background
  --color-grey-light-2: #f2efee; // Light lines
  --color-grey-light-3: #d3c7c3; // Light text (placeholder)
  --color-grey-dark-1: #4b4747; // Normal text
  --color-grey-dark-2: #272525; // Lighter text

  /* FONT FAMILY VARIABLES */

  --font-roboto: 'Roboto', Arial, Helvetica, sans-serif, monospace;
  --font-raleway: 'Raleway', Arial, Helvetica, sans-serif, monospace;
  --font-open-sans: 'Open Sans', Arial, Helvetica, sans-serif, monospace;
  --font-poppins: 'Poppins', Arial, Helvetica, sans-serif, monospace;
  --font-montserrat: 'Montserrat', 'Courier New', Arial, Helvetica, sans-serif,
    monospace;

  --font-playfair: 'Playfair Display', Times, 'Times New Roman', serif,
    monospace;
  --font-merriweather: 'Merriweather', Times, 'Times New Roman', serif,
    monospace;
  --font-yeseva: 'Yeseva One', Times, 'Times New Roman', serif, monospace;

  --font-roboto-mono: 'Roboto Mono', 'Courier', monospace;

  --font-gotham: 'Gotham', Times, 'Times New Roman', serif, monospace;
  --font-gotham-black: 'Gotham Black', Times, 'Times New Roman', serif,
    monospace;
  --font-gotham-book: 'Gotham Book', Times, 'Times New Roman', serif, monospace;
  --font-gotham-bold: 'Gotham Bold', Times, 'Times New Roman', serif, monospace;
  --font-gotham-light: 'Gotham Light', Times, 'Times New Roman', serif,
    monospace;

  --font-courier: 'Courier', Arial, Helvetica, monospace;
  --font-courier-bold: 'Courier Bold', Arial, Helvetica, monospace;
  --font-courier-italic: 'Courier Italic', Arial, Helvetica, monospace;
  --font-courier-bold-italic: 'Courier Bold Italic', monospace;

  --font-courier-code: 'Courier Code', Arial, Helvetica, monospace;
  --font-courier-code-italic: 'Courier Code Italic', Arial, Helvetica, monospace;

  /* FONT SIZE VARIABLES */

  // body font size
  --text-base-size: 1em;

  // type scale
  --text-scale-ratio: 1.125;
  --text-xxs: calc((var(--text-base-size) / (var(--text-scale-ratio) * 1.35)));
  --text-xs: calc((var(--text-base-size) / var(--text-scale-ratio)));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}

body.dark-mode {
  --color-background: #353535;
  --color-background-opacity75: #353535b2;
  --color-background-opacity50: #35353585;
  --color-background-opacity25: #35353548;
  --color-background-opposite: #f3f3f4;

  --color-text: #f2f5ff;
  --color-text-opacity75: #f2f5ffb7;
  --color-text-opacity50: #f2f5ff86;
  --color-text-opacity25: #f2f5ff49;
  --color-text-opposite: #423c3a;
}

body {
  height: 100vh;
  height: 100dvh;

  background-color: var(--color-background);
  font-family: var(--font-gotham);
  font-size: var(--text-md);
  color: var(--color-text);
}

#root {
  height: 100%;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}
