@import 'mixins';
.header {
  @extend %parent-with-centered-children;
  flex-direction: column;
  color: var(--color-dark-2);

  &__main {
    @extend %parent-with-centered-children;
    position: relative;
    width: 100%;
    background-color: var(--color-primary);
    padding-block: 15px;

    &--extra-message {
      display: none;
      position: absolute;
      left: 0;
      margin-left: 12px;
      line-height: 1.25rem;
      width: clamp(50px, 25%, 200px);
      font-size: var(--text-xs);
      font-family: var(--font-gotham-book);
    }
  }

  &__logo {
    @extend %parent-with-centered-children;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &-img {
      width: clamp(100px, 47.5%, 700px);
      aspect-ratio: 5 / 2;
    }
  }

  &__icons-wrapper {
    @include center-self(vertical, absolute);
    @extend %icon-wrapper;
  }

  &__btn-icon {
    @extend %btn-icon;

    &:hover .cart-badge {
      @extend %cart-badge--hover;
    }

    & .cart-badge {
      @extend %parent-with-centered-children;
      @extend %cart-badge;
    }
  }

  &__search-svg {
    @extend %search-svg;
  }
}
