@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/gotham/GothamMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../assets/fonts/gotham/GothamBook.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../assets/fonts/gotham/GothamBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../assets/fonts/gotham/Gotham-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../assets/fonts/gotham/Gotham-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Courier';
  src: url('../assets/fonts/courier/Courier\ Prime\ Sans.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Courier Bold';
  src: url('../assets/fonts/courier/Courier\ Prime\ Sans\ Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Courier Italic';
  src: url('../assets/fonts/courier/Courier\ Prime\ Sans\ Italic.ttf')
    format('truetype');
}
