@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/gotham/Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../assets/fonts/gotham/Gotham-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../assets/fonts/gotham/Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../assets/fonts/gotham/Gotham-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../assets/fonts/gotham/Gotham-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Courier';
  src: url('../assets/fonts/courier/courier-prime.ttf') format('truetype');
}

@font-face {
  font-family: 'Courier Bold';
  src: url('../assets/fonts/courier/courier-prime-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Courier Italic';
  src: url('../assets/fonts/courier/courier-prime-italic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Courier Bold Italic';
  src: url('../assets/fonts/courier/courier-prime-bold-italic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Courier Code';
  src: url('../assets/fonts/courier-code/courier-prime-code.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Courier Code Italic';
  src: url('../assets/fonts/courier-code/courier-prime-code-italic.ttf')
    format('truetype');
}
