@import 'mixins';

.nav {
  @extend %parent-with-centered-children;
  width: 100%;
  background-color: rgb(34, 34, 34);
  padding-block: 18px;
  color: var(--color-text-light);

  &__links {
    @extend %parent-with-centered-children;
    gap: 50px;

    @include breakpoint(sm) {
      padding-inline: 30px;
      justify-content: space-between;
      gap: 20px;
    }
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14.5px;
    font-family: var(--font-courier-code);

    &:focus,
    &:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
    }

    @include breakpoint(lg) {
      font-size: 12px;
    }
  }

  &--sticky {
    position: fixed;
    top: 0;
    background: black;
    padding-block: 35px;
    z-index: 2;
    isolation: isolate;

    color: var(--color-text-light);

    & .nav__links {
      @include breakpoint(lg) {
        display: none;
      }
    }

    & .nav__logo-img {
      @include breakpoint(lg) {
        @include center-self(both, absolute);
        margin-left: 0;
      }
    }
  }

  &__logo {
    width: fit-content;
  }

  &__logo-img {
    @include center-self(vertical, absolute);
    object-fit: cover;
    left: 0;
    margin-left: 20px;
    min-width: 75px;
    max-width: 150px;
    aspect-ratio: 5 / 2;
  }

  &__icons-wrapper {
    @include center-self(vertical, absolute);
    @extend %icon-wrapper;
  }

  &__btn-icon {
    @extend %btn-icon;

    &:hover .cart-badge {
      @extend %cart-badge--hover;
    }
  }

  .cart-badge {
    @extend %parent-with-centered-children;
    @extend %cart-badge;
    background: white;
    color: var(--color-text);
    font-weight: bold;
    height: 18px;
  }

  &__search-svg {
    @extend %search-svg;
  }

  &__btn-menu {
    display: none;
    position: absolute;
    left: 0;
    background: transparent;
    margin-left: 12px;

    font-size: var(--text-xxl);
    cursor: pointer;

    @include breakpoint(lg) {
      display: block;
    }
  }
}

.nav-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--color-dark-2);

  &__links {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  &__link {
    margin-inline: 14px;
    padding-block: 20px;
    padding-left: 12px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.2);
    font-size: var(--text-xs);
    font-family: var(--font-courier-code);
    text-decoration: none;
    text-transform: uppercase;

    &:focus,
    &:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
      color: var(--color-primary);
      outline: none;
    }
  }

  &__btn-collapse {
    width: 100%;
    background: transparent;
    text-align: center;
    padding: 20px;
    transform: rotate(90deg);
    height: fit-content;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      scale: 1.5;
      color: var(--color-primary);
    }
  }
}
