@import '../mixins';

.pd-card {
  display: block;
  padding: 5px;
  margin-inline: 10px;
  margin-block: 30px;
  text-decoration: none;

  &:focus {
    outline: 1px solid rgba(0, 0, 0, 0.5);
  }

  &:hover &__img--wrapper,
  &:focus &__img--wrapper {
    box-shadow: 0px 0px 0px 7px var(--color-primary);
  }

  &:hover &__sold-out,
  &:hover &__sale,
  &:focus &__sold-out,
  &:focus &__sale {
    background: var(--color-accent-3);
  }

  &__img--wrapper {
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 400ms ease-out;
    box-shadow: 0px 0px 0px 7px var(--color-grey-light-1);
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__sold-out,
  &__sale {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px 10px;
    background: var(--color-accent-4);
    color: var(--color-text-light);
    font-size: 12.5px;
    font-family: var(--font-gotham);
  }

  &__sold-out {
    z-index: 2;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: fit-content;

    @include center-self(horizontal);
  }

  &__title {
    font-size: var(--text-xs);
    font-family: var(--font-gotham-bold);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__price--wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5px;

    font-family: var(--font-gotham);
    text-align: center;
  }

  &__price {
    font-size: 0.9em;
  }

  &__og-price {
    font-size: 0.8em;
    text-decoration: line-through;
    color: var(--color-text-opacity50);
  }
}
