@import '../mixins';

.products {
  position: relative;
  margin-inline: 60px;

  @include breakpoint(xl) {
    margin-inline: 40px;
  }

  &--wrapper {
    @include center-self(horizontal);
    width: var(--page-width);
    margin-top: 80px;
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: auto 1fr;

    @include breakpoint(xl) {
      display: block;
      width: 100%;
    }
  }

  &-sorter {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

    @include breakpoint(xl) {
      margin-right: 0;
    }

    @include breakpoint(sm) {
      justify-content: center;
    }

    &__label {
      display: block;
      border: 1px solid black;
      padding: 5px 8px;

      font-size: 14px;
      font-family: var(--font-courier-bold);

      &:focus-within {
        border-color: var(--color-primary);
      }
    }

    &__selection {
      padding-block: 5px;
      font-family: var(--font-courier);
      font-size: inherit;

      &:focus {
        outline: 1px solid var(--color-primary);
      }

      & > option {
        font-family: var(--font-roboto);
      }
    }
  }

  &-display {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 30px;

    @include breakpoint(md) {
      grid-template-columns: 1fr;
    }

    @include breakpoint(xl, min) {
      grid-template-columns: repeat(3, 33%);
      column-gap: 10px;
    }
  }

  &__no-results {
    margin-bottom: auto;
    margin-left: 12px;
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
    font-family: var(--font-gotham-book);
  }
}
