@import '../mixins';

.pd-pg {
  @include center-self(horizontal);
  background: white;
  width: var(--page-width);
  display: flex;
  padding-block: 50px;
  padding-inline: 40px;
  gap: 35px;

  @include breakpoint(xl) {
    gap: 15px;
  }

  @include breakpoint(md) {
    flex-direction: column;
  }

  @include breakpoint(lg) {
    padding-inline: 20px;
  }

  @include breakpoint(sm) {
    padding-inline: 10px;
  }

  &__nav {
    display: flex;
    gap: 10px;
    font-size: 12.5px;
    font-family: Helvetica, Arial, sans-serif, monospace;
    font-weight: bold;
    color: #777777;

    &-link {
      text-transform: uppercase;
      text-underline-offset: 2px;
      letter-spacing: 0.5px;
    }

    @include breakpoint(lg) {
      font-size: 10.5px;
    }
  }

  &__img--container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 800px;
  }

  &__img--wrapper {
    @include breakpoint(md) {
      display: flex;
    }
  }

  &__active-img {
    object-position: center;
    object-fit: cover;
    height: 500px;
    width: max(100%, 200px);
    margin-block: 50px;

    @include breakpoint(lg) {
      max-width: 460px;
      height: 100%;
    }

    @include breakpoint(md) {
      margin: 0 auto;
      display: block;
    }
  }

  &__img-thumbs {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include breakpoint(md) {
      flex-direction: column;
    }
  }

  &__img-thumbnail {
    width: 80px;
    background: white;

    &--wrapper {
      border: 1px solid gray;
    }

    &--wrapper.active {
      border: 2px solid var(--color-accent-1);
    }

    @include breakpoint(lg) {
      width: 65px;
    }

    @include breakpoint(sm) {
      width: 50px;
    }
  }

  &__details--container {
    margin-top: 45px;
    padding: 20px;
    width: 450px;

    @include breakpoint(md) {
      @include center-self(horizontal);
      margin-top: 0;
      width: 90%;
    }
  }

  &__title {
    font-size: var(--text-lg);
    font-family: var(--font-gotham);
    text-transform: uppercase;
    color: var(--color-accent-1);
  }

  &__price--wrapper {
    display: flex;
    gap: 12px;
    font-family: var(--font-gotham);
    font-size: var(--text-md);
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--color-grey-light-3);
  }

  &__og-price {
    font-family: var(--font-gotham-book);
    color: var(--color-text-opacity75);
    text-decoration: line-through;
  }

  &__details {
    margin-top: 30px;
    font-family: var(--font-raleway);
    font-size: 14.25px;
  }

  &__description,
  &__tech-detail {
    letter-spacing: 0.75px;
    line-height: 1.65em;
  }

  &__tech-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: 35px;
  }

  &__tech-detail {
    margin-left: 30px;
    list-style-type: disc;
    line-height: 1em;
  }

  &__opt-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;

    font-size: 15px;
    font-family: var(--font-poppins);
    color: #636363;
    text-transform: capitalize;
  }

  &__opt-label {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
  }

  &__color {
    margin-left: 5px;
  }

  &__quantity-label {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: fit-content;
  }

  &__quantity-input {
    width: 60px;
    padding: 10px;
    border: 1px solid var(--color-grey-light-3);
    font-size: var(--text-sm);
    font-family: var(--font-gotham);

    &:focus {
      outline: 1px solid black;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__quantity-sold-out {
    font-family: var(--font-gotham-book);
    font-style: italic;
    font-size: var(--text-sm);
    line-height: normal;
  }

  &__btn-cart {
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border-radius: 30px;
    border: 2px solid currentColor;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-text-light);
      background: var(--color-accent-1);
      outline: none;
    }
  }

  &__btn-add-cart {
    font-size: var(--text-xs);
    color: var(--color-accent-1);
    margin-top: 50px;
  }

  &__btn-checkout {
    --color-accent-1: rgb(173, 142, 100);
    font-size: var(--text-xs);
    margin-top: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
  }

  &__error {
    margin-top: 10px;
    color: rgb(231, 0, 0);
    font-size: var(--text-xs);
    font-style: italic;
  }
}

.pd-lens {
  --color-primary: rgb(247, 237, 225);

  @include center-self(horizontal);
  background: var(--color-primary);
  width: 100%;
  margin-top: 75px;
  padding-block: 60px 70px;

  &__title {
    font-family: var(--font-gotham-book);
    font-size: var(--text-md);
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;

    @include breakpoint(sm) {
      font-size: var(--text-sm);
    }
  }

  &__steps {
    @extend %parent-with-centered-children;
    gap: 50px;
    align-items: flex-start;
    margin-top: 40px;
    padding-inline: 30px;

    @include breakpoint(lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__step {
    @extend %parent-with-centered-children;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: clamp(200px, 35%, 370px);

    @include breakpoint(lg) {
      gap: 30px;
      flex-direction: row;
      width: min(100%, 500px);
    }
  }

  &__count {
    font-size: var(--text-lg);

    @include breakpoint(lg) {
      margin-right: 10px;
    }
  }

  &__instruction {
    font-family: var(--font-raleway);
    font-size: 14px;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 0.9px;

    @include breakpoint(lg) {
      text-align: left;
    }
  }
}
