@import '../mixins';

.fp {
  @include center-self(horizontal);
  width: var(--page-width);
  margin-block: 50px;
  padding-bottom: 50px;

  &__title {
    @extend %section-title;
  }

  &__products {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

    &:focus,
    &:hover {
      outline: none;
    }
  }

  &-product {
    @extend %parent-with-centered-children;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    width: 30%;
    margin-right: 30px;
    flex-shrink: 0;

    &:hover,
    &:focus {
      background: var(--color-grey-light-2);
      outline: none;
    }
  }

  &-product__img-wrapper {
    border: 7px solid var(--color-grey-light-2);
    transition: 300ms ease-out;

    &:hover,
    &:focus {
      border-color: var(--color-primary);
    }

    @include breakpoint(md) {
      border-width: 5px;
    }
  }

  &-product__img {
    width: 100%;
  }

  &-product__title {
    width: 100%;
    margin-top: 10px;
    font-size: var(--text-xs);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    word-break: break-all;

    @include breakpoint(md) {
      font-size: 12.5px;
    }
  }

  &-product__price {
    padding-bottom: 30px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: var(--text-xs);
    font-family: var(--font-gotham-book);

    @include breakpoint(md) {
      font-size: 12px;
    }
  }

  .flickity {
    &-viewport {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    &-button {
      @include center-self(vertical, absolute);
      width: 30px;
      height: 30px;
      margin-inline: 10px;
      background: transparent;
      transform: scaleY(150%);
      fill: var(--color-accent-1);
      cursor: pointer;

      &.previous {
        left: 0;
      }

      &.next {
        right: 0;
      }
    }

    &-page-dots {
      display: none;
    }
  }
}
