@import '../mixins';

.featured-coll {
  @include center-self(horizontal);
  width: var(--page-width);
  overflow-x: hidden;
  padding-block: 60px;
  padding-inline: 20px;

  display: grid;
  grid-template-columns: 40% auto;

  @include breakpoint(md) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__col-1,
  &__col-2 {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  &__col-1 {
    align-items: flex-start;
    gap: 30px;
    padding-inline: 40px;

    @include breakpoint(md) {
      padding-inline: 0;
    }
  }

  &__col-2 {
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    @include breakpoint(md) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
      width: 100%;
    }
  }

  &__img-wrapper {
    width: 100%;
  }

  &__img {
    width: 100%;

    @include breakpoint(md) {
      height: 400px;
    }
  }

  &__img.main {
    filter: brightness(105%) contrast(105%);
    transition: all 300ms;

    &.img--loading {
      filter: brightness(105%) contrast(105%) blur(20px);
      scale: 1.05;
    }
  }

  &__img.model {
    filter: saturate(80%) brightness(110%) contrast(110%);
    transition: all 300ms;

    &.img--loading {
      filter: saturate(80%) brightness(110%) contrast(110%) blur(20px);
      scale: 1.05;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: default;

    @include breakpoint(md) {
      @include center-self(horizontal);
      gap: 20px;
      max-width: 400px;
      margin-block: 30px;
      text-align: center;
      line-height: 1.2em;
    }
  }

  &__title {
    padding-top: 10px;
    font-size: var(--text-md);
    font-family: var(--font-gotham-bold);
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__details {
    font-family: var(--font-raleway);
    font-size: var(--text-xs);
    line-height: 1.2em;
  }

  &__link {
    text-underline-offset: 6px;
    font-size: 14px;
    letter-spacing: 1.5px;
  }

  &__btn-link {
    background: var(--color-accent-1);
    margin-top: 20px;
    display: inline-block;
    padding: 15px 20px;
    font-size: 14px;
    font-family: var(--font-gotham);
    color: var(--color-text-light, white);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background: var(--color-primary);
    }

    & .sample {
      @extend %parent-with-centered-children;
      height: 100%;
    }

    @include breakpoint(md) {
      display: none;
    }
  }
}
